*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(/EMPLOYEE\ MANAGEMENT/360_F_921888139_eXn1ghQsWRarT0hrQmQOZEk4sqsQPR1T.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/* NAV */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.nav-center{
   display: flex;
   align-items: center;
}
.cafe{
    color: white;
}
.nav-logo{
    padding-left: 100px;
    font-size: 35px;
    color: white;
    backdrop-filter: blur(30px);
    height: 62px;
    width: 400px;
    display: flex;
    align-items: center;
}
.nav-links{
    width: 100%;
    display: block;
    backdrop-filter: blur(30px);
    height: 62px;
}
.nav-li{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 8px;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
.nav-li:hover{
    color:  rgb(210, 216, 89);
    cursor: pointer;
    transition: 0.5s;
}
.search{
    border-radius: 50px;
    height: 25px;
    border: none;
    outline: none;
}
.profile{
    padding: 15px 50px;
    color: white;
    backdrop-filter: blur(30px);
}
.pic:hover{
    color:  rgb(210, 216, 89);
    cursor: pointer;
    transition: 0.5s;
}
/* END OF NAV */

/* ICONS */
.container{
    display: grid;
    grid-template-rows:repeat(6,100px) ;
    grid-template-columns: repeat(6,100px);
    width: 50%;
}
.items{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px;
    backdrop-filter: blur(10px);
}
.items:hover{
    border: 5px solid rgb(210, 216, 89);
    transition: 0.5s;
}
.item1{
    grid-area: 2 / 2 /4 / 4;
}
.item2{
    grid-area: 2 / 5 / 4 / 7;
}
.item3{
    grid-area: 5 / 2 / 7 / 4;
}
.item4{
    grid-area: 5 / 5 / 7 / 7;
}
.item-icon{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    color: white;
}
.item-name{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.icon-hover{
    text-decoration: none;
    color: white;
}
.icon-hover:hover{
    color:  rgb(210, 216, 89);
    transition: 0.5s;
}
/* END OF ICONS */

/* ASIDE*/
.two-container{
    display: flex;
    flex-direction: row;
}
.aside{
    backdrop-filter: blur(30px);
    width: 50%;
    height: 610px;
    display: flex;
    flex-direction: column;
    border: 7px solid white;
    margin: 10px;
    border-radius: 10px;
}
.index-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 30px 0;
    padding: 0px;
    margin-bottom: 20px;
    background-color: brown;
    margin-top: 0px;
}
.index-aside{
    height: 500px;
    display: flex;
    flex-direction: row;
}
.special{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.teas{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.drinks{
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
}
h1{
    color: white;
}
/* END OF ASIDE*/

/*RECRUITMENT*/
.big-container{
    display: flex;
    flex-direction: row;
}
.credentials-container{
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.credentials-login{
    height: 70%;
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
    backdrop-filter: blur(10px);
    padding-bottom: 40px;
}
.credentials-logo{
    height: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credentials-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.two-clm{
    display: flex;
    flex-direction: row;
}
.credentials-login-marg{
    margin-bottom: 30px;
}
.id-generator{
    backdrop-filter: blur(5px);
    border: 5px solid white;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.credentials-login-css{
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid white; 
    outline: none;
    font-size: 15px; text-align: center
}
.drop-down-css{
    padding: 10px; 
    border-radius: 10px; 
    outline: none; 
    width: 210px;
    text-align: center; 
    font-size: 15px;
    color: rgb(109, 108, 108); 
}
.pay-css{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid white;
    width: 80px;
}
.tenure-css{
    padding: 10px;
    border-radius: 10px;
    color: rgb(109, 108, 108);
    margin-left: 15px;
}
.btn{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid hsl(120, 53%, 41%);
    background-color: hsl(120, 53%, 41%);
    color: white;
    outline: none;
    font-weight: bolder;
}
.btn:hover{
    background-color: hsl(120, 60%, 29%);
    border: 2px solid hsl(120, 60%, 29%);
    cursor: pointer;
}
.employee-name{
    outline: none;
    height: 20px;
    width: 210px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}
.generated-id-box{
    height: 20px;
    width: 210px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.generatedid{
    color: rgb(109, 108, 108);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.id-btn{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid hsl(120, 53%, 41%);
    margin-top: 20px;
    background-color: hsl(120, 53%, 41%);
    color: white;
    font-weight: bolder;
}
.id-btn:hover{
    background-color: hsl(120, 60%, 29%);
    border: 2px solid hsl(120, 60%, 29%);
    cursor: pointer;
}
.employee-details{
    backdrop-filter: blur(10px);
    width: 70%;
    margin: 23px;
    border: 5px solid white;
    border-radius: 10px;
}
.employee{
    width: 100%;
    height: 45px;
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 17px;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
}
.list:hover{
    background-color: rgb(189, 185, 185);
}
.list-btn{
    outline: none;
    padding: 5px;
    background-color: hsl(0, 73%, 60%);
    color: white;
    border: 2px solid hsl(0, 73%, 60%);
    border-radius: 10px;
    margin-right: 10px;
}
.list-btn:hover{
    background-color:  hsl(0, 65%, 47%);
    border: 2px solid hsl(0, 65%, 47%);
    cursor: pointer;
}
/*END OF RECRUITMENT*/